@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse-Bold.otf");
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

.left-header {
    background-image: url("/halie-west.jpg");
    background-size: cover;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.first,
.second,
.third {
    flex: 1 1 0;
}

.left-header .first {
    display: flex;
    flex-direction: column;
}

.left-header .first .empty {
    flex: 1 1 0;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.third .text {
    color: white;
    margin-bottom: 20px;
    font-size: 150%;
}

.odin-header {
    color: white;
    display: flex;
    background-color: rgb(0, 0, 0, 40%);
    justify-content: center;
}

.odin-header .img {
    padding: 10px;
    width: 125px;
    height: 160px;
}

.odin-header .odin-text {
    font-family: "Norse-Bold", sans-serif;
    font-size: 125px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.content > div {
    flex: 1 0 400px;
    min-height: 50px;
}

.content > div:nth-child(2) {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.content > div:nth-child(2n + 1) {
    background-color: #eff1f4;
    z-index: 0;
}

.content > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 800px;
}

.information {
    font-weight: 800;
    font-size: 24px;
    height: 60%;
    padding: 0px 120px 0px 50px
}

.information > div:nth-child(3) {
    margin-top: 30px;
}

input {
    margin-bottom: 5px;
}

.content {
    flex: 3 0 0;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 40px 120px 50px 50px;
}

.container > div:first-child {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
}

form {
    display: flex;
}

form > div {
    flex: 1 1 auto;
}

button {
    border-radius: 8px;
    width: 250px;
    height: 60px;
    background-color: #596D48;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

button ~ div {
    margin-top: 20px;
    font-size: 20px;
}

.container > div > a > span {
    font-weight: 700;
    color: #596D48;
}

.container > div > a {
    text-decoration: none;
}

label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 65%;
  height: 35px;
}

label {
    margin-top: 25px;
    margin-bottom: -15px;
}

a {
    color: white;
}

a:visited {
    color: rgb(206, 171, 239);
}

input {
    padding: 10px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 3px solid #3f7af0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

input:invalid {
    border: 3px solid #f61e1e;
}