@font-face {
    font-family: "Norse-Bold";
    src: url("fonts/Norse-Bold.otf");
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

.left-header {
    background-image: url("/halie-west.jpg");
    background-size: cover;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.first,
.second,
.third {
    flex: 1 1 0;
}

.left-header .first {
    display: flex;
    flex-direction: column;
}

.left-header .first .empty {
    flex: 1 1 0;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.third .text {
    color: white;
    margin-bottom: 20px;
    font-size: 150%;
}

.odin-header {
    color: white;
    display: flex;
    background-color: rgb(0, 0, 0, 40%);
    justify-content: center;
}

.odin-header .img {
    padding: 10px;
    width: 125px;
    height: 160px;
}

.odin-header .odin-text {
    font-family: "Norse-Bold", sans-serif;
    font-size: 125px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.content {
    flex: 3 0 0;
}

a {
    color: white;
}

a:visited {
    color: rgb(206, 171, 239);
}